# UCA APP ENV vars
UCA_OPENAPI_ROOT_PATH=/v1/uca

UCA_AUTH_DEFAULT_ISSUERS='["https://esignet.openg2p.sandbox.net"]'
UCA_AUTH_DEFAULT_JWKS_URLS='["https://esignet.openg2p.sandbox.net/.well-known/jwks.json"]'

UCA_DB_HOSTNAME="IP/HOSTNAME of database"
UCA_DB_PORT=5432
UCA_DB_DBNAME=pbmsdb
UCA_DB_USERNAME=pbmsuser
UCA_DB_PASSWORD=

UCA_CALL_META_ICE_SERVERS='[{"urls": "stun:172.17.0.1"},{"urls": "turn:172.17.0.1","username":"user1","password":"pass1"}]'

UCA_DEFAULT_OLLAMA_BASE_URL=http://172.17.0.1:11434

# UI ENV vars
API_BACKEND_URL=http://service:8000/
